@page "/"

<table>
    <tr>
        <td>
            <SfRating @bind-Value="currentValue"
                      ShowLabel=true LabelPosition="LabelPosition.Left"
                      ItemsCount="10"
                      AllowReset=true ReadOnly=false Disabled=false>

                <LabelTemplate>
                    <span>@context out of 10 </span>
                </LabelTemplate>

                <TooltipTemplate>
                    <span>@context star</span>
                </TooltipTemplate>

                <EmptyTemplate>
                    <img src="/images/transparent.png" height="30" width="30" />
                </EmptyTemplate>

                <FullTemplate>
                    <img src="/images/filled.png" height="30" width="30" />
                </FullTemplate>

            </SfRating>
        </td>
        <td>
            <span>You are rated @currentValue out of 10</span>
        </td>
    </tr>
</table>



@code{
    double currentValue = 3;
}
